/*Centrar Galeria*/
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  .carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
  }
}

/* Estilos para el header y el formulario de búsqueda */
header {
  background-color: #f0f0f0;
  padding: 15px;
  text-align: center;
}

/* Estilos para las noticias */
article {
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  max-height: 200px;
  object-fit: cover;
}

.card-body {
  flex-grow: 1; /* Hace que ocupe todo el espacio disponible */
}

.card-title {
  font-size: 1.5rem;
  margin: 10px;
}

.card-text {
  color: #555;
  margin: 0 10px 10px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para la paginación */
#pagination-container {
  margin-top: 20px;
}

.gallery{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Nuevo*/

/* Estilos para el banner */
.banner {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
}

.banner h1 {
  margin: 0;
  font-size: 24px;
}

.banner p {
  margin: 5px 0;
  font-size: 16px;
}

.navbar{
  margin: 1rem;
}

/*Button Up*/
#button-up{
  width: 2.75em;
  height: 2.75em;
  background: #0d6efd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  font-size: 1em;
  position: fixed;
  bottom: 2.5em;
  right: 2.5em;
  cursor: pointer;
  border: .3em solid transparent;
  transition: all 300ms ease;
  transform: scale(0);
}

#button-up:hover{
  transform: scale(1.1);
  border-color: rgba(0, 0, 0, 0.1);
}

/*Boton me gusta*/
.fb-social{
  margin-top: 1rem;
}